# Unreal Engine file types.
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
# Raw Content file types.
*.fbx filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
# Anything in `/RawContent` dir.
/RawContent/**/* filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
Plugins/GeoReferencing/Source/ThirdParty/vcpkg-installed/overlay-x64-windows/lib/proj.lib filter=lfs diff=lfs merge=lfs -text
Plugins/GeoReferencing/Source/ThirdParty/vcpkg-installed/overlay-arm64-uwp/lib/proj.lib filter=lfs diff=lfs merge=lfs -text
Plugins/GeoReferencing/Source/ThirdParty/vcpkg-installed/overlay-x64-uwp/lib/proj.lib filter=lfs diff=lfs merge=lfs -text
Plugins/GeoReferencing/Source/ThirdParty/vcpkg-installed/arm64-android/lib/libproj.a filter=lfs diff=lfs merge=lfs -text
Plugins/GeoReferencing/Source/ThirdParty/vcpkg-installed/x64-android/lib/libproj.a filter=lfs diff=lfs merge=lfs -text
* text=auto
Binaries/Win64/UnrealEditor-TimewalkManhattan.pdb filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/TimewalkManhattan.pdb filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/TimewalkManhattan.exe filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.osm filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
